<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.stackmob.android.demo" android:versionCode="1" android:versionName="1.0">

    <permission android:name="com.stackmob.android.demo.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.stackmob.android.demo.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".StackMobDemoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- receiving the registration ID -->	
    	<receiver android:name=".C2DMRegistrationReceiver" android:permission="com.google.android.c2dm.permission.SEND">    	    		
    		<intent-filter>
	    		<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
    			<category android:name="com.stackmob.android.demo" />
    		</intent-filter>
    	</receiver>
		
		<!-- receiving messages -->    
    	<receiver android:name=".C2DMPayloadReceiver" android:permission="com.google.android.c2dm.permission.SEND">
	    	
    		<intent-filter>
	    		<action android:name="com.google.android.c2dm.intent.RECEIVE" />
    			<category android:name="com.stackmob.android.demo" />
    		</intent-filter>
    	</receiver>

		<!-- the service that sends registration IDs to the StackMob server -->    	
    	<service android:name=".C2DMRegistrationIDSender" />
    	
    </application>    
</manifest>